 /* Chat bubble styling */
 .chat-container {
  display: flex;
  flex-direction: column;
  height: 97vh;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
}

.message-container {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.message-bubble {
  background-color: #f8f9fa;
  padding: 10px 16px;
  border-radius: 50px;
  max-width: 60%;
  word-wrap: break-word;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

.sender-message-container {
  justify-content: flex-end;
}

.sender-message-bubble {
  background-color: #007bff;
  color: white;
}

.message-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
}

#messageInput {
  flex-grow: 1;
  margin-right: 6px;
  border: none;
  outline: none;
  border-radius: 50px;
  height: 30px;
  font-size: 16px;
  background-color: #f8f9fa;
  padding: 10px 16px 10px 16px;
}

#sendButton {
  background-color: #007bff;
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 14px 16px 14px 16px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#sendButton:hover{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

#sendButton:active {
  background-color: #3b9aff;
}